@model IEnumerable<SampleMVC.Models.PersonContext>

@{
    ViewBag.Title = "List";
}
<link href="~/Content/Styles/StyleSheet1.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Styles/StyleSheet2.css" rel="stylesheet" type="text/css" />


@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Add";
    if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-success">
            <strong>Success!</strong>@TempData["AlertMessage"]
        </div>
    }
}
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Update";
    if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-success">
            <strong>Updated !</strong>@TempData["AlertMessage"]
        </div>
    }
}

<h4>
    @Html.ActionLink("Add Person", "Add", "Person", null, new { @class = "btn btn-primary" })
    @Html.TextBox("txt", "", new { @class = "background-red" })
</h4>

@Html.Partial("_List", Model)


