@model IEnumerable<SampleMVC.Models.PersonContext>

@*@model Entities.Person*@
@{
    ViewBag.Title = "Main";
}

<table class="table table-bordered table-striped">
    <tr>
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
            Gender
        </th>
        <th>
            Age
        </th>
        <th>
            DateOfBirth
        </th>
        <th>
            Email
        </th>
        <th>
            TelephoneNo
        </th>
        <th>
            Country
        </th>
        <th>
            State
        </th>
        <th>
            AddressLine1
        </th>
        <th>
            AddressLine2
        </th>
        <th>
            City
        </th>
        <th>
            PinCode
        </th>
    </tr>

    @*@foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(m => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(m => item.TelephoneNo)
                </td>
                <td>
                    @Html.DisplayFor(m => item.SelectedCountry)
                </td>
                <td>
                    @Html.DisplayFor(m => item.SelectedState)
                </td>
                <td>
                    @Html.DisplayFor(m => item.AddressLine1)
                </td>
                <td>
                    @Html.DisplayFor(m => item.AddressLine2)
                </td>
                <td>
                    @Html.DisplayFor(m => item.City)
                </td>
                <td>
                    @Html.DisplayFor(m => item.PinCode)
                </td>
            </tr>
        }*@
</table>



<h4>
    @Html.ActionLink("Add Person", "Index")
</h4>
