
@*@{
    ViewBag.Title = "PersonView";
}

<h2>PersonView</h2>
@model IEnumerable<SampleMVC.Models.PersonContext>

@{
    ViewBag.Title = "List";
}

@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Add";
    if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-success">
            <strong>Success!</strong>@TempData["AlertMessage"]
        </div>
    }
}
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Update";
    if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-success">
            <strong>Updated !</strong>@TempData["AlertMessage"]
        </div>
    }
}

<h4>
    @Html.ActionLink("Add Person", "Add", "Person", null, new { @class = "btn btn-primary" })
</h4>

@Html.Partial("_PersonList")*@



